<header class="header">
  <figure class="logo">
    <img src="images/logo.png" alt="Petuch Weather logo" class="logo__img">
    <figcaption class="logo__text-box">
      <p class="logo__title">Petuch Weather</p>
      <p class="logo__subtitle">Заказ погоды онлайн</p>
    </figcaption>
  </figure>    
</header>