.header {
  display: flex;
  align-items: center;
  height: 25rem;
  padding-left: 89px;

  @media (max-width: 900px) {
    height: 14rem;
    padding-left: 25px;
  }

  @media (max-height: 765px) {
    height: 70px;
  }

  .logo {
    align-items: center;
    display: flex;
    
    &__img {
      margin: 0 2.2rem .4rem 0;

      @media (max-width: 900px) {
        margin-bottom: 5px;
        size: 50%;
      }
    }

    &__text-box {
      @media (max-width: 900px) {
        display: none;
      }
    }

    &__title {
      font-size: 1.9rem;
      font-weight: bolder;
      word-spacing: -.2rem;
      
    }

    &__subtitle {
      font-size: 1.3rem;
      color: #6E7F95;
      margin: 8px   0 6px;
      word-spacing: .1rem;
    }
  }
}