<div class="slider">
  <div class="slider__container">
    
      <div class="slider__item slider__item--rain">
        <div class="slider__line slider__line--bg-yellow"></div>
        <h2 class="slider__title " id="tornado">Дoждь с грозой</h2>
        <p class="slider__text slider__text--gift">Почувствуйте себя Зевсом с приложением Петуч Уетар.<span class="slider__gift">Идеальный подарок</span></p>
      </div>

      <div class="slider__item slider__item--hot">
        <div class="slider__line slider__line--bg-yellow"></div>
        <h2 class="slider__title slider__title--font-big">Потная жара</h2>
        <p class="slider__text">Солнечная погода с температурой воздуха −65…+43 °С. Солнечные очки в подарок при заказе от 2-х дней</p>
      </div>
 
      <div class="slider__item slider__item--torn">
        <div class="slider__line slider__line--bg-red"></div>
        <h2 class="slider__title slider__title--font-big" id="tornado">Торнадо</h2>
        <p class="slider__text">Выбери название из 5 000 женских имен. (Услуга выбора имени платная — 100 Р)</p>
      </div>      
      <div class="slider__item slider__item--drist">
        <div class="slider__line slider__line--bg-blue"></div>
        <h2 class="slider__title">Выберите подходящие осадки для вашего бизнеса</h2>
        <p class="slider__text">Интеграция со всеми погодными системами знакомыми человечеству. Кроме joomla</p>
      </div>

      <div class="slider__item slider__item--may">
        <div class="slider__line slider__line--bg-blue slider__line--width"></div>
        <h2 class="slider__title">Солнечная погода на 9 мая</h2>
        <p class="slider__text">Не нужно разгонять облака. Заказывайте погоду в приложении Петуч Уетар Говермент</p>
      </div>
      <div class="slider__item slider__item--event" >
        <div class="slider__line slider__line--bg-green"></div>
        <h2 class="slider__title">Погода на мероприятие</h2>
        <p class="slider__text">Выберите понравившуюся погоду в любой день. Даже во вторник</p>
      </div>

      </div>

  
  
</div>
<input type="range" min="0"  max="100" value="100" id="range" class="slider__range">