<div class="slider">
  <div class="slider__item">
    <div class="slider__line"></div>
    <h2 class="slider__title" id="tornado">Торнадо</h2>
    <p class="slider__text">Выбери название из 5 000 женских имен. (Услуга выбора имени платная — 100 Р)</p>
  </div>
</div>