.slider {
  position: relative;
  background: radial-gradient(rgb(218, 230, 250) 15%, transparent 16%) 0 0, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px;
  background-size: 10px 10px;
  overflow-X: hidden;
  overflow-y: visible;
  width: 100%;

  &__container {
    height: 50rem;
    position: relative;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    width: 51.5rem;

    &--rain {
      left: 0;
      top: 23%;
      width: 53.5rem;
    }

    &--hot {
      right: -21%;
      top: 73%;
      transform: translateX(-35%);
      width: 51.5rem;
    }

    &--torn {
      left: 50%;
      top: 7.5%;
      transform: translateX(-50%);
      width: 51.5rem;      
    }

    &--drist {
      left: 19.5%;
      top: 60.5%;
      width: 53.5rem;
    }

    &--may {
      right: -10%;
      top: 2%;
      width: 51.5rem;
    }

    &--event {
      right: 6%;
      top: 38%;
      width: 53.3rem;
    }

    &--event2 {
      left: -25%;
      top: 62%;
      width: 53.3rem;
    }
  }



  &__line {
    height: .7rem;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: .5s;
    width: 100%;

    &--video {      
      height: 185%;
    }

    &--bg-yellow {
      background: #fd0;
    }

    &--bg-blue {
      background: #6be;
    }

    &--bg-red {
      background: #c22;
    }

    &--bg-green {
      background: #95C11B;
    }
  }

  &__video {
    position: relative;
    transition: .4s;
    width: 100%;
  }

  &__title {
    font-size: 2.4rem;
    position: relative;
    letter-spacing: -1.5px;
    transition: .5s;
    margin-top: 3.6rem;

    &--color {
      color: white;
      text-shadow: 1px 1px 2px black;
    }
    

    &--font-torn,
    &--font-hot {
      font-size: 4rem;
      letter-spacing: -2.6px;
      margin-top: 2.4rem;
    }

    &--font-hot {
      letter-spacing: -2px;
      word-spacing: -5px;
      margin-top: 2.4rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    font-weight: normal;
    color: #6E7F95;
    line-height: 21px;
    margin: 8px   0 6px;
    width: 80%;

    &--may {
      transform: translate(1px, 1px);
    }

    &--hot {
      transform: translate(6px, -2px);
    }

    &--event {
      transform: translate(1px, 6px);
      width: 65%;
    }
  }

  &__gift {
    position: relative;

    &:after {
      content: '';
      background-image: url(../images/gift.png);
      background-size: cover;
      position: absolute;
      right: -1.5rem;
      top: 20%;
      display: block;
      size: 1rem;
    }
  }
}

#tornado:before,
#tornado:after,
#hot:after,
#rain:after {
  color: white;
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  right: -1.4rem;
  transform: translateX(100%);
  text-transform: uppercase;
}

#rain:after {
  background: #FCD300;
  content: "только летом";
  letter-spacing: .5px;
  right: -2rem;
  padding: .5rem .4rem .4rem .7rem ;
  top: 22%;
}

#hot:after {
  background: #FCD300;
  content: "ликвидация";
  padding: .5rem .4rem .4rem .7rem ;
  top: 22%;
}

#tornado:after {
  background: #c22;
  content: "новинка";
  padding: .5rem .4rem .4rem .7rem ;
  top: 22%;
}

#tornado:before {
  background: gray;
  content: " 18+";
  padding: .5rem .5rem .4rem .7rem ;
  right: -50%;
  top: 22%;
}

.slider__range {
  position: relative;
  outline: none;
  
}

input#range[type=range] {
  -webkit-appearance: none;
  background-color:transparent;
  margin: 6px 4%;
  width: 91.3%;
}
input#range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url(../images/range.png);
  background-color: #EFF4FD;
  opacity: 0.9;
  border-radius: 20px;
  width: 89px;
  height: 40px;
  cursor: pointer;
}
