* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;

  @media (max-width: 1200px) {
    font-size: 9px;
  }
}

body {
  font-family: 'Open Sans', 'Verdana', sans-serif;
}

.main {
  width: 100%;
  min-height: calc(100vh - 25rem);
  overflow-x: hidden;

  @media (max-width: 800px) {
    min-height: calc(100vh - 13rem);
  }
}